.cadastro-container {
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
}

.form-tabs-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cadastro-card-body {
  flex: 1;
  overflow-y: auto; /* Scroll apenas dentro do card de cadastro */
  padding: 1.5rem;
}
