*{
    font-family: "Titillium Web", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text: #040316;
    --background: #fbfbfe;
    --backgroundTwo: #ededed;
    --primary: #0056e0;
    --secondary: #ededee;
    --accent: #2679ff;


}
@media screen and (max-width: 600px) and (orientation: portrait){
    
.buttonSection{
    background: var(--accent);
    width: 100px;
    padding: 7px 0;
    border-radius: 5px;
    color: var(--secondary);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 1rem;
    
}
.layoutform{
    display: flex;
    
    width: 100%;
    height: 10vh;

}

.form{
    width: 100%;
 
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
    background: var(--backgroundTwo);
    
    
}

.abas{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: auto;
    justify-content: flex-start;
    align-items: center;
}
.abas section{
   display: none;
}

.titlecampForm {
width: 100%;
flex:  1  1 auto;
margin: 5px;
text-align: center;
padding-block: 10px;
border-radius: 5px;
background: var(--colorBlueFour);
color: var(--colorSevenGray);
}

.titleAndBtn{
    display: block;
    top: 0;
    right: 0;
    justify-content: space-between;
    max-width: 89%;
    min-height: 10vh;    
    align-items: center;
     
    flex-wrap: wrap;
    gap: 5px;
    padding-inline: 5%;
    position: fixed;
    z-index: 0;
    background: var(--background);
    
}
.btnform{
    width: 10%;
}
.labelcontainer{
    width: 90%;
}




.titlesection:nth-child(2){
    text-align: right;
    width: 35%;
}



.titlesection h2{
    font-size: 1rem;
}
.titlesection p{
    font-size: 0.9rem;
}

/* div .abas div{
    display: none;
}

.abas div:target{
    display: flex;
    
    
} */
.abas div:first-child{
    display: flex;
    
    
}

form{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    width: 100%;
    min-height: auto;


}


.titleaba{
    width: 100%;
    margin-top: 10vh;
}
.abas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    overflow-y: hidden;
}
.titleAndBtn a{
    width: 16.6%;
    height: 5vh;
    border: 1px solid #fff;
    color: #fff;
    background: var(--colorBlueTwo);
    padding-block: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 5px;


}
.sectionAbas{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:flex-start;
    height:auto;
    gap: 5px;
   
    
    
    padding-block: 1%;
    /* margin-bottom: 20px; */
    width: 100%;

    
}
.campForm{
    width: 100%;
   
    background-color: var(--colorSevenGray);
    padding:0 5px;
   
    border-radius: 5px;
    min-height: 12vh;
    font-weight: 300;
    color: var(--colorSixGray);
    font-size: 0.9rem;
}
#dadosdosfilhos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    min-height: 10vh;
    font-weight: 500;
    color: var(--colorOneGray);
    
}
#dadosdosfilhos input[type="text"]{
    width:75%;
    height: 4vh;
    border: none;
    color: var(--colorOneGray);
    margin-bottom: 2px ;
    margin-inline: 3px;
    border-radius:3px;
    padding: 5px;
    
}
#dadosdosfilhos input[type="number"]{
    width: 20%;
    height: 4vh;
    border: none;
    color: var(--colorOneGray);
    margin-bottom: 2px ;
    border-radius:3px;
    text-align: center;
}
#dadosdosfilhos h3 {
    width: 100%;
    color: var(--colorOneGray);
    font-weight: 600;
    height: 3vh;
    margin-top: 15px;
    padding-left:15px ;
}

.dadosdofilho {
    max-width: 32%;
    height: auto;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorSevenGray);
    
    
    border-radius: 5px;
}
.campForm p{
    color: var(--colorOneGray);
    font-weight: 300;
    padding: 2px;
    margin-bottom: 3px;
    word-break: break-all;
}

   


input[type="text"],
 input[type="password"],
 input[type="email"],
 input[type="tel"],
 input[type="number"],
 input[type="date"], select,option{
    border: none;
    color: var(--backgroundTwo);
    width: 100%;
    height: 4vh;
    background: var(--backgroundTwo);
    color: var(--colorOneGray);
    margin-bottom: 2px ;
}
textarea{
    width: 100%;
    border: none;
    background: var(--backgroundTwo);
    
}
}
@media screen and (max-width: 600px) and (orientation: landscape) {
    
.buttonSection{
    background: var(--accent);
    width: 100px;
    padding: 7px 0;
    border-radius: 5px;
    color: var(--secondary);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 1rem;
    
}
.layoutform{
    display: flex;
    
    width: 100%;
    height: 10vh;

}

.form{
    width: 100%;
 
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
    background: var(--backgroundTwo);
    
    
}

.abas{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: auto;
    justify-content: flex-start;
    align-items: center;
}
.abas section{
   display: none;
}

.titlecampForm {
width: 100%;
flex:  1  1 auto;
margin: 5px;
text-align: center;
padding-block: 10px;
border-radius: 5px;
background: var(--colorBlueFour);
color: var(--colorSevenGray);
}

.titleAndBtn{
    display: block;
    top: 0;
    justify-content: space-between;
    max-width: 90%;
    min-height: 10vh;    
    align-items: center;
     
    flex-wrap: wrap;
    gap: 5px;
    padding-inline: 5%;
    position: fixed;
    z-index: 0;
    background: var(--background);
    
}
.btnform{
    width: 10%;
}
.labelcontainer{
    width: 90%;
}




.titlesection:nth-child(2){
    text-align: right;
    width: 35%;
}



.titlesection h2{
    font-size: 1rem;
}
.titlesection p{
    font-size: 0.9rem;
}

/* div .abas div{
    display: none;
}

.abas div:target{
    display: flex;
    
    
} */
.abas div:first-child{
    display: flex;
    
    
}

form{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    width: 100%;
    min-height: auto;


}


.titleaba{
    width: 100%;
    margin-top: 10vh;
}
.abas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    overflow-y: hidden;
}
.titleAndBtn a{
    width: 16.6%;
    height: 5vh;
    border: 1px solid #fff;
    color: #fff;
    background: var(--colorBlueTwo);
    padding-block: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 5px;


}
.sectionAbas{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:flex-start;
    height:auto;
    gap: 5px;
   
    
    
    padding-block: 1%;
    /* margin-bottom: 20px; */
    width: 100%;

    
}
.campForm{
    width: 100%;
   
    background-color: var(--colorSevenGray);
    padding:0 5px;
   
    border-radius: 5px;
    min-height: 12vh;
    font-weight: 300;
    color: var(--colorSixGray);
    font-size: 0.9rem;
}
#dadosdosfilhos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    min-height: 10vh;
    font-weight: 500;
    color: var(--colorOneGray);
    
}
#dadosdosfilhos input[type="text"]{
    width:75%;
    height: 4vh;
    border: none;
    color: var(--colorOneGray);
    margin-bottom: 2px ;
    margin-inline: 3px;
    border-radius:3px;
    padding: 5px;
    
}
#dadosdosfilhos input[type="number"]{
    width: 20%;
    height: 4vh;
    border: none;
    color: var(--colorOneGray);
    margin-bottom: 2px ;
    border-radius:3px;
    text-align: center;
}
#dadosdosfilhos h3 {
    width: 100%;
    color: var(--colorOneGray);
    font-weight: 600;
    height: 3vh;
    margin-top: 15px;
    padding-left:15px ;
}

.dadosdofilho {
    max-width: 32%;
    height: auto;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorSevenGray);
    
    
    border-radius: 5px;
}
.campForm p{
    color: var(--colorOneGray);
    font-weight: 300;
    padding: 2px;
    margin-bottom: 3px;
    word-break: break-all;
}

   


input[type="text"],
 input[type="password"],
 input[type="email"],
 input[type="tel"],
 input[type="number"],
 input[type="date"], select,option{
    border: none;
    color: var(--backgroundTwo);
    width: 100%;
    height: 4vh;
    background: var(--backgroundTwo);
    color: var(--colorOneGray);
    margin-bottom: 2px ;
}
textarea{
    width: 100%;
    border: none;
    background: var(--backgroundTwo);
    
}
}