*{
    font-family: "Titillium Web", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --colorOneGray: #404040;
    --colorTwoGray: #595959;
    --colorTreeGray: #737373;
    --colorFourGray: #8C8C8C;
    --colorFiveGray:#BFBFBF;
    --colorSixGray:#e4e4e4;
    --colorSevenGray: #fff;

    --colorBlueOne: #021F59;
    --colorBlueTwo: #03318C;
    --colorBlueTree: #0460D9;
    --colorBlueFour: #0476D9;


}
.layoutform{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;

}
.form{
    width: 100%;
    padding-inline: 10px;
    overflow-x: hidden;
}
.form-container{
   width: 100%;
   height: 100vh;
}
.abas{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
/* .abas, section{
    position: absolute;
    top: 0;
    width: 50%;
} */
.titleAndBtn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 35vh;
    flex-direction: column;
    
}
.btnform{
    width: 10%;
}
.labelcontainer{
    width: 90%;
}
.titleAndBtn section{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.titlesection{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div .abas div{
    display: none;
}

.abas div:target{
    display: flex;
    
    
}


.titleAndBtn button{
    padding: 5px 25px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
    background: var(--colorBlueOne);
    transition: 0.2s ease-in-out;
}
.titleAndBtn button:hover{
    background: var(--colorBlueFour);
    transition: 0.2s ease-in-out;
}
.titleaba{
    width: 100%;
}
.abas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    overflow-y: hidden;
}
.titleAndBtn a{
    width: 16.6%;
    height: 5vh;
    border: 1px solid #fff;
    color: #fff;
    background: var(--colorBlueTwo);
    padding-block: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 5px;


}
.sectionAbas{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    height: auto;
    gap: 15px;
    background: var(--colorSixGray);
    padding-block: 1% 5%;
    /* margin-bottom: 20px; */
    width: 100%;

    
}
.campForm{
    width: 49%;
    background-color: var(--colorSevenGray);
    padding: 10px;
    box-shadow: 2px 2px 3px var(--colorFourGray);
    border-radius: 5px;
    min-height: 10vh;
    font-weight: 500;
    color: var(--colorSixGray);
}
#dadosdosfilhos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    border-radius: 5px;
    min-height: 20vh;
    font-weight: 500;
    color: var(--colorOneGray);
    
}
#dadosdosfilhos input[type="text"]{
    width: 85%;
    height: 4vh;
    border: none;
    color: var(--colorOneGray);
    margin-bottom: 2px ;
    margin-inline: 3px;
    border-radius:3px;
    padding: 5px;
    
}
#dadosdosfilhos input[type="number"]{
    width: 15%;
    height: 4vh;
    border: none;
    color: var(--colorOneGray);
    margin-bottom: 2px ;
    border-radius:3px;
    text-align: center;
}
#dadosdosfilhos h3 {
    width: 100%;
    color: var(--colorOneGray);
    font-weight: 600;
    height: 3vh;
    margin-top: 15px;
    padding-left:15px ;
}

.dadosdofilho {
    max-width: 49%;
    height: auto;
    display: flex;
    background-color: var(--colorSevenGray);
    box-shadow: 2px 2px 3px var(--colorFourGray);
    padding: 10px;
    border-radius: 5px;
}
.campForm p{
    color: var(--colorOneGray);
    font-weight: 600;
    margin-bottom: 5px;
}
form{
    height: auto;
    
}

   


input[type="text"],
 input[type="password"],
 input[type="email"],
 input[type="tel"],
 input[type="number"],
 input[type="date"], select, textarea{
    width: 100%;
    height: 4vh;
    border: none;
    background: var(--colorSixGray);
    color: var(--colorOneGray);
    margin-bottom: 2px ;
}
textarea{
    border: none;
    color: var(--colorOneGray);
    margin-bottom: 2px ;
}
