*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
:root{
    --colorOneGray: #404040;
    --colorTwoGray: #595959;
    --colorTreeGray: #737373;
    --colorFourGray: #8C8C8C;
    --colorFiveGray:#BFBFBF;
    --colorSixGray:#f0f0f0;
    --colorSevenWhite: #fff;
    --colorHeight: #000;
    --colorBlueOne: #021F59;
    --colorBlueTwo: #03318C;
    --colorBlueTree: #0460D9;
    --colorBlueFour: #0476D9;
}
.dashboard{
    display: flex;
    width: 100%;
    height: 100vh;
    background: var(--colorSixGray);
}
@media screen and (max-width:480px){
    .dashboard{
        display: flex;
        width: 100%;
        height: 100vh;
        background: var(--colorSixGray);
        flex-direction: column;
    }    
}

.painels{
    display: block;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    overflow-y:scroll;
    
}
.containerPainel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    
}
.barcharts{
    width: 100%;
    margin: 10px 5px;    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.painel{
    width: 18%;
    min-height: 10vh;
    background: var(--colorSevenWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 1 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 30px rgba(0,0,0, 0.1);
    color: var(--colorHeight);
    margin: 10px;
}
.iconPainel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;

}
.informationpainel{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    flex-direction: column;
    
}
.informationpainel p{
    font-size: 1.3rem;
    color: var(--colorOneGray);
    font-weight: 700;
}

.barchats{
    width: 100%;
    min-height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.containerCharts{
    width: 100%;
    height: 10vh;
    flex: 1 1 auto;
}
.linecharts{
    display: flex;
   
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.colunmCharts{
    width: 46%                                      ;
    margin: 20px;
    flex: 1 1 300px;
    display: flex;
}
.Piechart{
    flex: 1 1 300px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.painelChars{
    display: flex;
    max-width: 100%;
    min-height: auto;
   flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
    gap: 20px;
}
