*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
:root{
    --colorOneGray: #404040;
    --colorTwoGray: #595959;
    --colorTreeGray: #737373;
    --colorFourGray: #8C8C8C;
    --colorFiveGray:#BFBFBF;
    --colorSixGray:#f0f0f0;
    --colorSevenWhite: #fff;
    --colorHeight: #000;
    --colorBlueOne: #021F59;
    --colorBlueTwo: #03318C;
    --colorBlueTree: #0460D9;
    --colorBlueFour: #0476D9;
}
@media screen and (min-width:1024px){
    
    .dashboard{
        display: flex;
        width: 100%;
        height: 100vh;
        background: var(--colorSixGray);
        
    }    


.painels{
    display: block;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    overflow-y:scroll;
    
}
.containerPainel{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    padding: 1%;
    
}
.barcharts{
    width: 100%;
    padding: 1%;    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.painel{
    width: 50px;
    min-height: 10vh;
    background: var(--colorSevenWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 1 auto;
    border-radius: 5px;
    box-shadow: 2px 2px 30px rgba(0,0,0, 0.1);
    color: var(--colorHeight);
    margin: 10px 5px;
}
.iconPainel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

}
.informationpainel{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    flex-direction: column;
    
}
.informationpainel h3{
    font-size: 1rem;
    font-weight: 600;
}
.informationpainel p{
    font-size: 1.1rem;
    color: var(--colorOneGray);
    font-weight: 300;
}

.barchats{
    width: 100%;
    min-height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.containerCharts{
    width: 100%;
    height: 10vh;
    flex: 1 1 auto;
}
.linecharts{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    gap: 5px;
}
.colunmCharts{
    flex: 1 1 auto;
    width: 49%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Piechart{
    flex: 1 1 auto;
    width: 49%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.painelChars{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 padding: 1%;
    gap: 5px;
}
.dashboardpainels{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
}
@media screen and (min-width:481px) and (max-width:767px) {
    
    .dashboard{
        display: flex;
        width: 100%;
        height: 100vh;
        background: var(--colorSixGray);
        
    }    


.painels{
    display: block;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    overflow-y:scroll;
    
}
.containerPainel{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    padding: 1%;
    
}
.barcharts{
    width: 100%;
    padding: 1%;    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.painel{
    width: 50px;
    min-height: 10vh;
    background: var(--colorSevenWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 1 auto;
    border-radius: 5px;
    box-shadow: 2px 2px 30px rgba(0,0,0, 0.1);
    color: var(--colorHeight);
    margin: 10px 5px;
}
.iconPainel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

}
.informationpainel{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    flex-direction: column;
    
}
.informationpainel h3{
    font-size: 1rem;
    font-weight: 600;
}
.informationpainel p{
    font-size: 1.1rem;
    color: var(--colorOneGray);
    font-weight: 300;
}

.barchats{
    width: 100%;
    min-height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.containerCharts{
    width: 100%;
    height: 10vh;
    flex: 1 1 auto;
}
.linecharts{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    gap: 5px;
}
.colunmCharts{
    flex: 1 1 auto;
    width: 49%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Piechart{
    flex: 1 1 auto;
    width: 49%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.painelChars{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 padding: 1%;
    gap: 5px;
}
.dashboardpainels{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
}
@media screen and (max-width:480px){
    
    .dashboard{
        display: flex;
        width: 100%;
        height: 100vh;
        background: var(--colorSixGray);
        
    }    


.painels{
    display: block;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    overflow-y:scroll;
    
}
.containerPainel{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    padding: 1%;
    flex-wrap: wrap;
    gap: 10px;
    
}
.barcharts{
    width: 100%;
    padding: 1%;    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.painel{
    min-width: 25%;
    min-height: 8vh;
    background: var(--colorSevenWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: 1 1 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 30px rgba(0,0,0, 0.1);
    color: var(--colorHeight);
    
    word-break: break-all;
    padding: 5px;
   
    
}
.iconPainel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    

}
.informationpainel{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    flex-direction: column;
    flex: 1 1 auto;
    font-size: 0.8rem;
    word-break: break-all;
    text-align: center;
    
}

.informationpainel h3{
    font-size: 0.6rem;
    font-weight: 600;
}
.informationpainel p{
    font-size: 1.1rem;
    color: var(--colorOneGray);
    font-weight: 300;
}

.barchats{
    width: 100%;
    min-height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.containerCharts{
    width: 100%;
    height: 10vh;
    flex: 1 1 auto;
}
.linecharts{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    gap: 5px;
}
.colunmCharts{
    flex: 1 1 auto;
    width: 49%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Piechart{
    
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.painelChars{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 padding: 1%;
    gap: 5px;
}
.dashboardpainels{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
}