.form-section-cadastro {
  height: 75vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-section-cadastro .card {
  height: calc(75vh - 100px);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
}

.form-section-cadastro .card-body {
  flex: 1;
  overflow-y: auto;
}

/* Scrollbar Única */
.card-body::-webkit-scrollbar {
  width: 6px;
}
.card-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
