*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --color50: #eef4ff;
  --color100: #d9e5ff;
  --color200: #bcd2ff;
  --color300: #8eb6ff;
  --color400: #598eff;
  --color500: #3366ff;
  --color600: #1b43f5;
  --color700: #142fe1;
  --color800: #1727b6;
  --color900: #19288f;
  --color950: #141a57;
  --color1000:#3366FF; 
  --bkcolor100: linear-gradient(to bottom, #273953, #294263, #2e4d76,#345989 );
  --bkcolor200: linear-gradient(to top, #4978ae,#6c95c4, #9fbada; )
}


body{
  font-family: "Poppins", sans-serif;
  
}

@media only screen and (min-width: 768px) {
  

button{
  background: none;
  border: none;
}

.iconbtn{
  width: auto;
  height: 35px;
  background: var(--color1000);
  color: var(--colorSevenWhite);
}
.logoAndBtn{
display: flex;
width: 100%;
height: 10vh;
justify-content: space-between;
align-items: center;
transition: 0.3s ease-in-out;
}
img{
  width: auto;
  height: 70px;
  display: none;
  
  
}
a, Link{
  text-decoration: none;
}
/* .ocultarlogo{
  display: none;
  transition: 0.4s ease-in-out;
} */
.exibirlogo{
  display: block;
  
}
.NavItem, .settings{
  display: flex;
  color: var(--colorSevenWhite);
  padding-block: 5px;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  
}
.NavItem:hover{
  background: var(--color1000s);
  transition: 0.3s ease-in-out;
}
.iconSettings{
  width: 35px;
  height: 35px;
  color: var(--colorSevenWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconNav{
  width: 20px;
  height: 20px;
  
}
.ocultarTexto{
  display: none;
}
li{
  text-decoration: none;
}
.exibirTexto{
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  padding-left: 10px;
  color: var(--colorSevenWhite);
  
  
}
.navOptions{
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
.navOptionsTwo{
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
}


