*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --colorOneGray: #404040;
    --colorTwoGray: #595959;
    --colorTreeGray: #737373;
    --colorFourGray: #8C8C8C;
    --colorFiveGray:#BFBFBF;
    --colorSixGray:#e4e4e4;

    --colorBlueOne: #021F59;
    --colorBlueTwo: #03318C;
    --colorBlueTree: #0460D9;
    --colorBlueFour: #0476D9;

}
.NavHeader{
    height:100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
   background: var(--colorSixGray);
    box-shadow: 2px 2px 10px var(--colorTreeGray);
    text-decoration: none;
    padding-block: 30px;
}
.containerHeader li {
    text-decoration: none;
    list-style: none;
}
.logo{
    width: 50px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100%;
}
.containerHeader{

height: 25vh;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
}
.optionMenu{
    display: flex;
    
}

.optionMenu button{
    border: none;
} 
.iconnav{
    margin-right: 10px;
    color: var(--colorBlueTwo);
}

.linknav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  
    
    
}
.logo{
    display: flex;
    flex-direction: column;
    
    height: 5vh;
}
.linknav a{
    display: flex;
    align-items: center;
    justify-content:center;
    padding-inline: 20px;
    font-weight: 500;
    color: var(--colorBlueFour);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.linknav a:hover{
    color: var(--colorBlueOne);
    transition: 0.3s ease-in-out;
    
}
.settings{
    height: 10vh;
    color: var(--colorBlueTwo);
}
.settings a{
    height: 10vh;
    color: var(--colorBlueTwo);
}

