*{
    font-family: "Titillium Web", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --colorOneGray: #404040;
    --colorTwoGray: #595959;
    --colorTreeGray: #737373;
    --colorFourGray: #8C8C8C;
    --colorFiveGray:#BFBFBF;
    --colorSixGray:#e4e4e4;
    --colorBlueOne: #021F59;
    --colorBlueTwo: #03318C;
    --colorBlueTree: #0460D9;
    --colorBlueFour: #0476D9;

}
input[type="search"]{
    width: 400px;
    height: 3vh;
    border-radius:5px;
    margin-right: 15px;
}

.ContainerMembers{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.LayoutMembers{
    display: flex;
    width: 100%;
}
.HeadMembers{
    width: 300px;
    display: block;
}
.tableMembers{
    width: 100%;
    
    overflow-x: scroll;
    
}
.inputSearch{
    margin: 0 10px;
}
.titleMembers{
    display: flex;
    width: 90%;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    padding: 25px;
    z-index: 1;
    position: fixed;
}
table{
    overflow-x:scroll;
    margin-top: 100px;
}
thead{
    
   background: var(--colorFiveGray);
    color: var(--colorSixGray);
    border-radius: 5px;
    border: none;
}
.layouttable{
    padding: 10px;
    text-align: center;
    min-width: 300px;
    border: none;
    margin: 0;
    }
.select{
    padding: 10px;
    text-align: center;
    min-width: 50px;
    border: 1px solid var(--colorFiveGray);
    margin: 0;

}    
tbody th{
   background: var(--colorSixGray);
    margin: 0;
    padding: 0;
    font-weight: 400;
    height: 3vh;
}
.options{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.options button{
    width: 90px;
    padding: 5px 0;
    border-radius: 5px;
    border: none;
    background: var(--colorBlueOne);
    color: var(--colorSixGray);
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}
.options button:hover{
    background: var(--colorBlueFour);
    transition: 0.3s ease-in-out;
}
        
    
