*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --text: #040316;
    --background: #fbfbfe;
    --primary: #0056e0;
    --secondary: #ededee;
    --accent: #2679ff;
    --tablecolorone: #bedcff;
    --tablecolortwo:#eff6ff;
    --tablecolortree: #149cff;




}
body{
    background: var(--backgroundTwo);
}




table tr:nth-child(even){
    background: var(--tablecolorone);
}

thead{
    background: var(--tablecolortree);
    color: var(--tablecolortree);
}
table{
    overflow-y: scroll ;
}

.tabelaBloco{
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    min-height: 20vh;
    margin-top: 20px;
    padding: 1%;
    margin-inline: 2%;
}
.tabelaContainer{
    width: 100%;
}
.sectiontabela{
    width: 100%;
}

table th, td{
    border-collapse: collapse;
    text-align: center;
    min-width: 250px;
    background: none;
    padding-block: 2px;
    font-weight: 400;
    color: var(--text);
    
    
}
table thead th{
    color: var(--background);
    font-weight: 600;
}
.tabelaContainer thead, th{
    color: var(--background);
}
.tabelaMembros{
    width: 95%;
}
.checked-table{
    border-collapse: collapse;
    text-align: center;
    width: 30px;
    background: none;
    
    
}
